<!DOCTYPE html>
<html>
<head>
<title>{{ flatpage.title }}</title>
</head>
<body>
    <h1><strong>{{ flatpage.content }}</strong></h1>
    <h1><em><strong>Привеееееееееееееет!<img src="https://html5-editor.net/tinymce/plugins/emoticons/img/smiley-cool.gif" alt="cool" width="21" height="21" /></strong></em></h1>
    <h2><span style="color: #0000ff;"><strong><span style="text-decoration: underline;">Как вам моё домашнее задание?</span></strong></span></h2>
    <ul>
    <li>
    <h4><span style="text-decoration: line-through;"><span style="color: #0000ff;"><strong><u>фффффффффффффффффффффффффф</u></strong></span></span></h4>
    </li>
    <li>
    <h2><span style="text-decoration: line-through; color: #000000; background-color: #000000;"><span style="color: #0000ff;"><strong><u>рррррррррррррррррррррррррррррррррррррр</u></strong></span></span></h2>
    </li>
    <li><span style="color: #00ff00;"><span style="color: #00ff00;"><span style="text-decoration: line-through; background-color: #00ff00;"><span style="color: #0000ff; text-decoration: line-through;"><strong><u>ыыыыыыыыыыыыыыыы</u></strong></span></span></span></span>
    <table style="height: 259px;" width="259">
    <tbody>
    <tr>
    <td style="width: 44.9844px; text-align: center;"><span style="background-color: #999999; color: #000000;"><strong>-------</strong></span></td>
    <td style="width: 44.9844px; text-align: center;"><span style="background-color: #999999; color: #000000;"><strong>1</strong></span></td>
    <td style="width: 44.9844px; text-align: center;"><span style="background-color: #999999; color: #000000;"><strong>2</strong></span></td>
    <td style="width: 44.9844px; text-align: center;"><span style="background-color: #999999; color: #000000;"><strong>3</strong></span></td>
    <td style="width: 45.0625px; text-align: center;"><span style="background-color: #999999; color: #000000;"><strong>4</strong></span></td>
    </tr>
    <tr>
    <td style="width: 44.9844px; text-align: center;"><span style="background-color: #999999; color: #000000;"><strong>1</strong></span></td>
    <td style="width: 44.9844px; text-align: center;"><span style="background-color: #999999; color: #000000;"><strong>1</strong></span></td>
    <td style="width: 44.9844px; text-align: center;"><span style="background-color: #999999; color: #000000;"><strong>2</strong></span></td>
    <td style="width: 44.9844px; text-align: center;"><span style="background-color: #999999; color: #000000;"><strong>3</strong></span></td>
    <td style="width: 45.0625px; text-align: center;"><span style="background-color: #999999; color: #000000;"><strong>4</strong></span></td>
    </tr>
    <tr>
    <td style="width: 44.9844px; text-align: center;"><span style="background-color: #999999; color: #000000;"><strong>2</strong></span></td>
    <td style="width: 44.9844px; text-align: center;"><span style="background-color: #999999; color: #000000;"><strong>2</strong></span></td>
    <td style="width: 44.9844px; text-align: center;"><span style="background-color: #999999; color: #000000;"><strong>4</strong></span></td>
    <td style="width: 44.9844px; text-align: center;"><span style="background-color: #999999; color: #000000;"><strong>6</strong></span></td>
    <td style="width: 45.0625px; text-align: center;"><span style="background-color: #999999; color: #000000;"><strong>8</strong></span></td>
    </tr>
    <tr>
    <td style="width: 44.9844px; text-align: center;"><span style="background-color: #999999; color: #000000;"><strong>3</strong></span></td>
    <td style="width: 44.9844px; text-align: center;"><span style="background-color: #999999; color: #000000;"><strong>3</strong></span></td>
    <td style="width: 44.9844px; text-align: center;"><span style="background-color: #999999; color: #000000;"><strong>6</strong></span></td>
    <td style="width: 44.9844px; text-align: center;"><span style="background-color: #999999; color: #000000;"><strong>9</strong></span></td>
    <td style="width: 45.0625px; text-align: center;"><span style="background-color: #999999; color: #000000;"><strong>12</strong></span></td>
    </tr>
    <tr>
    <td style="width: 44.9844px; text-align: center;"><span style="background-color: #999999; color: #000000;"><strong>4</strong></span></td>
    <td style="width: 44.9844px; text-align: center;"><span style="background-color: #999999; color: #000000;"><strong>4</strong></span></td>
    <td style="width: 44.9844px; text-align: center;"><span style="background-color: #999999; color: #000000;"><strong>8</strong></span></td>
    <td style="width: 44.9844px; text-align: center;"><span style="background-color: #999999; color: #000000;"><strong>12</strong></span></td>
    <td style="width: 45.0625px; text-align: center;"><span style="background-color: #999999; color: #000000;"><strong>16</strong></span></td>
    </tr>
    </tbody>
    </table>
    <span style="color: #00ff00; background-color: #000000;"><span style="text-decoration: line-through;"><span style="color: #0000ff; text-decoration: line-through;"><strong><u>ыыыыыыыыыыыыыыыы</u></strong></span></span></span></li>
    </ul>
</body>
</html>