{% extends 'index.html' %}

    {% block content %}
    <h1 class="mt-4">Статья: {{get_advert.heading}}</h1>
    <p><a href="/">Вернуться назад</a></p>


    <p>Дата создания:  {{advert.time_create}}</p>
    <p>Название:  {{advert.heading}}</p>
    <p>Текст: {{advert.text}}</p>
    {% if advert.n_photos %}
    <p><img class="img-article-left" src="{{ advert.n_photos.url }}"></p>
    {% endif %}


    <p>Комментарии ({{advert.advert_comment.all.count}})</p>


    <hr>

    <p>Добавить комментарий</p>


        {% if messages %}
    <div class="alert alert-success">
        {% for m in messages %}
            {{m}}
        {% endfor %}
    </div>


    {% endif %}





    <ul>

    {% for item in advert.advert_comment.all %}

    <ol>

    {% include 'comment.html' %}

    </ol>

    {% endfor %}
    </ul>

    <div class="col-4">

        <form action="" id="add_form" method="post">
            {% csrf_token %}
                {{form.as_p}}
        </form>

        <button form="add_form" type="submit" class="btn btn-primary">Добавить</button>

    </div>

{% endblock %}


{% block js %}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script>
    $('body').on('click', '.update_status', function(event){
        event.preventDefault();
        if (confirm('Вы уверены')) {
            var url = $(this).attr('data-url')
            var tag_li = $(this).parent()
            console.log(url)

            $.ajax({
                url:url,
                type: 'GET',
                success: function(response) {
                    tag_li.html(response)
                    console.log(response)
                }
            })

        }

    })
</script>

{% endblock %}