{% extends 'flatpages/default.html' %}


{% block content %}


<h2>Пользователь {{request.user.username}}</h2>
<div> Здесь может содержаться персональная информация для каждого пользователя </div>

{% if not is_not_author %}
    <h4 align="left">Автор ✔️</h4>
    <div align="left"><button><a href="disupgrade/"> Убрать роль!</a> </button></div>
{% endif %}

{% if is_not_author %}
    <h4 align="left">Автор ❌</h4>
    <div align="left"><button><a href="upgrade/"> Хочу роль Authors!</a> </button></div>
{% endif %}

<div align="right"><button><a class="nav-link" href="/sign/logout/">Выйти</a></button></div>
{% endblock %}


