{% extends 'flatpages/default.html' %}


{% block content %}


<h2>Страница авторизованного пользователя {{request.user.username}}</h2>
<div> Здесь может содержаться персональная информация для каждого пользователя </div>


<div align="right"><button><a class="nav-link" href="/sign/logout/">Выйти</a></button></div>

{% if is_not_author %}
<button> <a href="sign/upgrade/"> Хочу роль Authors!</a> </button>

{% endif %}
{% if is_not_subscriber %}
<button> <a href="sign/sub/"> Хочу стать подписчиком и получать рассылки!</a></button>

{% endif %}
{% endblock %}

